{% extends 'layout.html'%}
{% block body %}
<h1> {{name}} Edit page</h1>
  <hr>
  <div>
    {% for row in data%}
    <div style="border: 1px solid black;">
      <div style="width: 100%; display: flex;">
        <div style="width: 100%; float: left; background-color: lightyellow;">
          <ul >
            <li><b>Brand:</b> {{row[0]}}</li>
            <li><b>UPC:</b> {{row[1]}}</li>
            <li><b>Size:</b>{{row[2]}}</li>
            <li><b>Storage Type:</b>{{row[3]}}</li>
            <li><b>Price:</b>{{row[4]}}</li>
            <li><b>Company:</b>{{row[5]}}</li>
            <li><b>Address:</b>{{row[6]}}</li>
          </ul>
        </div>
        <br>
        <div style = "background-color: lightyellow">
          <div style=" width: 8em;  float: right; background-color: lightgray; border: 3px solid gray; height: 30px;">
            <div>
              <a href="/dashboard/{{id}}/{{row[1]}}/{{name}}/edit/deleteProduct">Delete Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor%}
  </div>
{% endblock %}